In [1]:
import pandas as pd

In [2]:
av_data = pd.read_csv("./data/Availability.csv")
print(av_data.shape)
av_data.head(20)

(10000, 28)

,AO_AVAILABILITYPERCENT,AO_AVAILDAYS,AO_FIELDNMCMDAYS,AO_FIELDNMCSDAYS,AO_POSSIBLEDAYS,AO_TOTALFIELDNADAYS,AO_UPNRDAYS,DATASEGMENT,DEPOTNADAYS,EICATEGORY,...,MC_FIELDNMCMDAYS,MC_FIELDNMCSDAYS,MC_POSSIBLEDAYS,MC_TOTALFIELDNADAYS,MC_UPNRDAYS,MONTH_CHAR,MONTH_NUMBER,SCORECARDGROUP,SERVICE,TMS
0,0.759728,160162.80,29192.40,8034.00,210816.00,37905.60,2.455680e-10,AFA,12747.60,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
1,0.514801,81247.68,26645.52,35544.72,157823.52,62418.72,3.984000e+03,AFA,10173.12,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
2,0.468397,98745.60,15579.60,228.00,210816.00,27980.40,2.510160e-10,AFA,84090.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
3,0.940458,49837.20,3131.28,0.00,52992.48,3155.28,0.000000e+00,AFA,0.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
4,0.731588,154230.48,38713.20,0.00,210816.00,56585.52,0.000000e+00,AFA,0.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
5,0.471750,99452.40,46345.20,3357.12,210816.00,55531.20,0.000000e+00,AFA,55832.40,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
6,0.840261,177140.40,27923.52,0.00,210816.00,27924.00,5.751600e+03,AFA,0.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
7,0.800260,168707.52,31466.40,3694.80,210816.00,42108.48,0.000000e+00,AFA,0.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
8,0.872922,46258.32,6733.92,0.00,52992.48,6733.92,2.400000e-01,AFA,0.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
9,0.574454,90662.40,46831.68,18469.68,157823.52,67161.36,-2.400000e-01,AFA,0.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
10,0.431694,91008.00,40449.12,481.92,210816.00,79892.16,2.400000e-01,AFA,39915.60,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
11,0.517125,109018.32,49041.12,18196.08,210816.00,74653.20,0.000000e+00,AFA,27144.48,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
12,0.686085,144637.68,27285.60,25979.52,210816.00,61570.32,0.000000e+00,AFA,4608.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
13,0.454966,95914.08,15724.80,4241.28,210816.00,19966.56,-2.400000e-01,AFA,94935.60,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
14,0.519482,81986.40,22174.32,576.00,157823.52,22750.32,2.373840e-10,AFA,53086.80,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
15,0.592256,124857.12,40130.88,31477.20,210816.00,84662.88,1.296000e+03,AFA,0.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
16,0.369515,77899.68,38255.52,576.00,210816.00,47880.00,8.503632e+04,AFA,0.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
17,0.793187,125183.52,27828.00,4177.92,157823.52,32640.00,2.400960e-10,AFA,0.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
18,0.669795,141203.52,30103.68,534.00,210816.00,61248.48,0.000000e+00,AFA,8364.00,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A
19,0.606771,127917.12,47604.72,937.92,210816.00,72819.12,2.400000e-01,AFA,10079.52,AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combat Fixed Wing Aviation,Air Force,A-10A

In [3]:
av_data.columns

Index(['AO_AVAILABILITYPERCENT', 'AO_AVAILDAYS', 'AO_FIELDNMCMDAYS',
       'AO_FIELDNMCSDAYS', 'AO_POSSIBLEDAYS', 'AO_TOTALFIELDNADAYS',
       'AO_UPNRDAYS', 'DATASEGMENT', 'DEPOTNADAYS', 'EICATEGORY', 'EICC',
       'EITM', 'ENDITEMUNIQUEID', 'FORCEELEMENT', 'FYQTR', 'FYYearInt',
       'MC_AVAILABILITYPERCENT', 'MC_AVAILDAYS', 'MC_FIELDNMCMDAYS',
       'MC_FIELDNMCSDAYS', 'MC_POSSIBLEDAYS', 'MC_TOTALFIELDNADAYS',
       'MC_UPNRDAYS', 'MONTH_CHAR', 'MONTH_NUMBER', 'SCORECARDGROUP',
       'SERVICE', 'TMS'],
      dtype='object')

In [4]:
av_data.FYYearInt.astype(int).astype(str).unique()

array(['2008', '2009', '2010'], dtype=object)

In [5]:
av_data.FYQTR.dropna().astype(int).astype(str).unique()

array([], dtype=object)

In [6]:
av_data.describe()

,AO_AVAILABILITYPERCENT,AO_AVAILDAYS,AO_FIELDNMCMDAYS,AO_FIELDNMCSDAYS,AO_POSSIBLEDAYS,AO_TOTALFIELDNADAYS,AO_UPNRDAYS,DEPOTNADAYS,FYQTR,FYYearInt,MC_AVAILABILITYPERCENT,MC_AVAILDAYS,MC_FIELDNMCMDAYS,MC_FIELDNMCSDAYS,MC_POSSIBLEDAYS,MC_TOTALFIELDNADAYS,MC_UPNRDAYS,MONTH_CHAR,MONTH_NUMBER
count,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,1.000000e+04,10000.000000,0.0,10000.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,0.634541,126385.846632,26533.873488,6114.066120,1.969878e+05,39775.084968,8.379735e+03,22447.108080,NaN,2008.418600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.233330,52384.773580,19499.782203,8450.124137,5.559381e+04,28079.153662,4.677431e+04,39203.326808,NaN,0.553177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,9.600000e-01,0.000000,-2.400000e-01,0.000000,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.508327,94929.960000,13222.860000,537.540000,2.102400e+05,19651.680000,0.000000e+00,0.000000,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.684453,138547.200000,23084.280000,3350.640000,2.108160e+05,35384.520000,1.435200e+02,755.880000,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,0.806490,166612.560000,35852.220000,8187.180000,2.108160e+05,55024.440000,5.037000e+03,26936.760000,NaN,2009.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,210816.000000,201906.720000,143996.400000,2.617968e+06,201906.720000,2.617968e+06,210816.000000,NaN,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
av_data.describe(include=["object"])

,DATASEGMENT,EICATEGORY,EICC,EITM,ENDITEMUNIQUEID,FORCEELEMENT,SCORECARDGROUP,SERVICE,TMS
count,10000,10000,10000,10000,10000,2508,9259,10000,10000
unique,1,12,2,40,5958,4,4,1,98
top,AFA,FF,F,F-16,(NULL),Rapid Mobility,Combat Fixed Wing Aviation,Air Force,F-16C
freq,10000,3495,9630,2122,35,1429,4975,10000,1807

In [8]:
av_data[["ENDITEMUNIQUEID", "TMS"]].drop_duplicates()

     ENDITEMUNIQUEID     TMS
0         7800000582   A-10A
1         7800000596   A-10A
2         7800000605   A-10A
3         7800000611   A-10A
4         7800000616   A-10A
5         7800000621   A-10A
6         7800000624   A-10A
7         7800000626   A-10A
8         7800000634   A-10A
9         7800000637   A-10A
10        7800000646   A-10A
11        7800000651   A-10A
12        7800000655   A-10A
13        7800000673   A-10A
14        7800000684   A-10A
15        7800000685   A-10A
16        7900000084   A-10A
17        7900000088   A-10A
18        7900000090   A-10A
19        7900000109   A-10A
20        7900000113   A-10A
21        7900000141   A-10A
22        7900000145   A-10A
23        7900000146   A-10A
24        7900000147   A-10A
25        7900000149   A-10A
26        7900000150   A-10A
27        7900000157   A-10A
28        7900000164   A-10A
29        7900000165   A-10A
...              ...     ...
9062      7800000633   A-10C
9063      7800000638   A-10C
9064      7800000646   A-10C
9065      7800000647   A-10C
9066      7800000659   A-10C
9068      7800000673   A-10C
9072      7900000084   A-10C
9088      8000000166   A-10C
9091      8000000188   A-10C
9110      8100000948   A-10C
9117      8100000976   A-10C
9119      8100000978   A-10C
9121      8100000991   A-10C
9123      8100000997   A-10C
9124      8200000654   A-10C
9267      0700046312  C-130J
9268      0800008603  C-130J
9294      0700007181   C-17A
9296      0700007187   C-17A
9298      0700007189   C-17A
9375      8600000013    C-5M
9376      8600000025    C-5M
9507          (NULL)   F-15E
9885      0700004131   F-22A
9886      0700004134   F-22A
9887      0700004139   F-22A
9888      0700004143   F-22A
9889      0700004144   F-22A
9890      0700004145   F-22A
9891      0700004147   F-22A

[6313 rows x 2 columns]

In [9]:
av_data[["ENDITEMUNIQUEID", "FYYearInt"]].drop_duplicates()

     ENDITEMUNIQUEID  FYYearInt
0         7800000582       2008
1         7800000596       2008
2         7800000605       2008
3         7800000611       2008
4         7800000616       2008
5         7800000621       2008
6         7800000624       2008
7         7800000626       2008
8         7800000634       2008
9         7800000637       2008
10        7800000646       2008
11        7800000651       2008
12        7800000655       2008
13        7800000673       2008
14        7800000684       2008
15        7800000685       2008
16        7900000084       2008
17        7900000088       2008
18        7900000090       2008
19        7900000109       2008
20        7900000113       2008
21        7900000141       2008
22        7900000145       2008
23        7900000146       2008
24        7900000147       2008
25        7900000149       2008
26        7900000150       2008
27        7900000157       2008
28        7900000164       2008
29        7900000165       2008
...              ...        ...
9970      5900001500       2009
9971      5900001515       2009
9972      6000000315       2009
9973      6000000321       2009
9974      6000000331       2009
9975      6000000355       2009
9976      6000000357       2009
9977      6000000360       2009
9978      6000000365       2009
9979      6100000275       2009
9980      6100000284       2009
9981      6100000288       2009
9982      6100000290       2009
9983      6100000294       2009
9984      6100000298       2009
9985      6100000299       2009
9986      6100000302       2009
9987      6100000312       2009
9988      6100000324       2009
9989      6200003499       2009
9990      6200003504       2009
9991      6200003508       2009
9992      6200003509       2009
9993      6200003510       2009
9994      6200003514       2009
9995      6200003515       2009
9996      6200003516       2009
9997      6200003523       2009
9998      6200003528       2009
9999      6200003533       2009

[9649 rows x 2 columns]

*Intents*, **Domains**


Which **tms** has the *lowest* **availability %**?

*What was* the **availability %** of that **last year**?

*Provide a* breakdown by each **item**. (Implied breakdown of **availability %** of each item for a given **tms**)

*What is* the **EIC** for **item**? (Implied enditemuniqueid. However, thinking of the case someone has an item code but doesn't know what category it falls in)

*What is* the **availability %** for **item 1**, **item 2**, and **item3** from **2010** to **2013**?

What were the *total amount* of **days in maintenance** for those **items** in the same **period**?

*What is* the **total active inventory**?

*What was* the **total active inventory** at this point **last year**?

Which **items** have the *lowest* **total active inventory**?

Which **scorecard group** has the *lowest* **availability %**?

In [10]:
inventory = pd.read_csv('./data/Inventory.csv')
print(inventory.shape)
inventory.head(20)

(10000, 19)

,DATASEGMENT,EICATEGORY,EICC,EITM,EITYPE,EPSLI,FORCEELEMENT,FYQTR,FYYearInt,ISENDITEM,ISMODEL,MONTH_CHAR,MONTH_NUMBER,PMAI,SCORECARDGROUP,SERVICE,TAI,TII,TMS
0,AFA,TG,G,MRS-1,LOCOMOTIVE,0,NaN,NaN,2009,t,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,2104
1,AFA,TG,G,MRS-1,LOCOMOTIVE,0,NaN,NaN,2013,t,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,2104
2,AFA,TG,G,MRS-1,LOCOMOTIVE,0,NaN,NaN,2008,t,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,2104
3,AFA,TG,G,MRS-1,LOCOMOTIVE,0,NaN,NaN,2010,t,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,2104
4,AFA,TG,G,130G,SURFACE GRADER,0,NaN,NaN,2010,t,t,NaN,NaN,0.0,Tactical Ground Vehicle,Air Force,0.0,0,130G
5,AFA,TG,G,130G,SURFACE GRADER,0,NaN,NaN,2011,t,t,NaN,NaN,0.0,Tactical Ground Vehicle,Air Force,0.0,0,130G
6,AFA,TG,G,130G,SURFACE GRADER,0,NaN,NaN,2012,t,t,NaN,NaN,0.0,Tactical Ground Vehicle,Air Force,0.0,0,130G
7,AFA,NaN,X,1DAMAA,AVIONICS,0,NaN,NaN,2008,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,1DAMAA00
8,AFA,NaN,X,1DAMAA,AVIONICS,0,NaN,NaN,2009,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,1DAMAA00
9,AFA,NaN,X,1DAMAA,AVIONICS,0,NaN,NaN,2011,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,1DAMAA00
10,AFA,NaN,X,30MM GUN,GUN,0,NaN,NaN,2011,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,30MM GUN
11,AFA,NaN,X,30MM GUN,GUN,0,NaN,NaN,2012,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,30MM GUN
12,AFA,NaN,X,30MM GUN,GUN,0,NaN,NaN,2013,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,30MM GUN
13,AFA,NaN,X,30MM GUN,GUN,0,NaN,NaN,2008,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,30MM GUN
14,AFA,NaN,X,3ABMMA00,COMMUNICATIONS SYSTEM,0,NaN,NaN,2010,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,3ABMMA00
15,AFA,NaN,X,3ABMMA00,COMMUNICATIONS SYSTEM,0,NaN,NaN,2009,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,3ABMMA00
16,AFA,NaN,X,3ABMMA00,COMMUNICATIONS SYSTEM,0,NaN,NaN,2008,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,3ABMMA00
17,AFA,NaN,X,3AEMAA00,MAPPING SYSTEM,0,NaN,NaN,2010,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,3AEMAA00
18,AFA,NaN,X,3AEMAA00,MAPPING SYSTEM,0,NaN,NaN,2013,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,3AEMAA00
19,AFA,NaN,X,3AEMAA00,MAPPING SYSTEM,0,NaN,NaN,2008,f,t,NaN,NaN,0.0,NaN,Air Force,0.0,0,3AEMAA00

In [11]:
inventory.columns

Index(['DATASEGMENT', 'EICATEGORY', 'EICC', 'EITM', 'EITYPE', 'EPSLI',
       'FORCEELEMENT', 'FYQTR', 'FYYearInt', 'ISENDITEM', 'ISMODEL',
       'MONTH_CHAR', 'MONTH_NUMBER', 'PMAI', 'SCORECARDGROUP', 'SERVICE',
       'TAI', 'TII', 'TMS'],
      dtype='object')

In [12]:
inventory.describe()

,EPSLI,FYQTR,FYYearInt,MONTH_CHAR,MONTH_NUMBER,PMAI,TAI,TII
count,10000.0000,0.0,10000.000000,0.0,0.0,10000.000000,10000.000000,10000.000000
mean,0.4725,NaN,2009.919100,NaN,NaN,0.915260,1.577749,0.467900
std,5.7363,NaN,1.550934,NaN,NaN,16.263214,23.707934,7.473256
min,0.0000,NaN,2008.000000,NaN,NaN,0.000000,0.000000,0.000000
25%,0.0000,NaN,2008.000000,NaN,NaN,0.000000,0.000000,0.000000
50%,0.0000,NaN,2010.000000,NaN,NaN,0.000000,0.000000,0.000000
75%,0.0000,NaN,2011.000000,NaN,NaN,0.000000,0.000000,0.000000
max,235.0000,NaN,2013.000000,NaN,NaN,786.330000,1047.830000,308.000000

In [13]:
inventory.describe(include="object")

,DATASEGMENT,EICATEGORY,EICC,EITM,EITYPE,FORCEELEMENT,ISENDITEM,ISMODEL,SCORECARDGROUP,SERVICE,TMS
count,10000,1318,9906,9894,9799,158,9906,9906,469,10000,10000
unique,1,19,8,3082,2029,6,2,2,6,1,3456
top,AFA,CF,X,C-130,"CARGO,TRANSPORT AND UTILITY FIXED WING",Rapid Mobility,f,t,Other Fixed Wing Aviation,Air Force,AN/ALM-195
freq,10000,337,7571,94,316,55,8588,5312,188,10000,6

In [14]:
inventory[["TMS", "FYYearInt"]].drop_duplicates()

           TMS  FYYearInt
0         2104       2009
1         2104       2013
2         2104       2008
3         2104       2010
4         130G       2010
5         130G       2011
6         130G       2012
7     1DAMAA00       2008
8     1DAMAA00       2009
9     1DAMAA00       2011
10    30MM GUN       2011
11    30MM GUN       2012
12    30MM GUN       2013
13    30MM GUN       2008
14    3ABMMA00       2010
15    3ABMMA00       2009
16    3ABMMA00       2008
17    3AEMAA00       2010
18    3AEMAA00       2013
19    3AEMAA00       2008
20    3AGMAA00       2009
21    3AGMAA00       2010
22    3AGMAA00       2011
23    3AGMAA00       2008
24    3AGMAA00       2012
25    3AHMMA00       2010
26    3AHMMA00       2011
27    3AHMMA00       2013
28    3AKMAA00       2009
29    3AKMAA00       2011
...        ...        ...
9970    YF-15A       2012
9971    YF-16A       2008
9972    YF-16A       2009
9973    YF-16A       2011
9974    YMQ-1C       2012
9975    YMQ-1C       2008
9976    YMQ-1C       2011
9977    YMQ-9A       2008
9978    YMQ-9A       2010
9979    YMQ-9A       2011
9980    YOH-6A       2008
9981    YOH-6A       2011
9982    YOH-6A       2012
9983      YOKE       2009
9984      YOKE       2010
9985    YRD-2A       2009
9986    YRD-2A       2011
9987    YRD-2B       2009
9988    YRD-2B       2011
9989    YRQ-4A       2011
9990    YRQ-4A       2012
9991    YRQ-4A       2009
9992    YRQ-4A       2010
9993    ZIPPER       2010
9994    ZIPPER       2008
9995    ZIPPER       2012
9996     ZZ300       2008
9997     ZZ300       2009
9998     ZZ300       2010
9999    ZZ3000       2008

[10000 rows x 2 columns]

In [15]:
def greaterThan(pdObj, value, key=None):
    
    try:
        if str(type(pdObj)) == "<class 'pandas.core.frame.DataFrame'>":
            df=pdObj
            return df[df[key]>value]
        elif str(type(pdObj))=="<class 'pandas.core.series.Series'>":
            series=pdObj
            return series[series>value]
    except Exception as e:
        return("inplaceFilter failed. See error: %s"%e)
    

pd.DataFrame.greaterThan=greaterThan
pd.Series.greaterThan=greaterThan

In [25]:
(inventory[["TMS", "TAI", "FYYearInt"]]
 .yDontPandasHaveInPlaceFilter(0, "TAI")
 .reset_index(drop=True)
 .set_index("TMS")
 .T
)

TMS,A-10A,A-10A,A-10A,A-10C,A-10C,A-10C,A-10C,AC-130H,AC-130H,AC-130H,...,VC-25A,VC-25A,VC-25A,WC-130H,WC-130H,WC-130H,WC-130J,WC-130J,WC-130J,WC-135C
TAI,240.374,73.6492,11.0766,281.33,333.33,345.83,49.67,8.0,8.0,8.0,...,2.0,2.0,2.0,10.0,9.75,9.0,10.0,10.0,10.0,1.0
FYYearInt,2008.000,2010.0000,2011.0000,2010.00,2013.00,2012.00,2008.00,2011.0,2012.0,2013.0,...,2011.0,2009.0,2010.0,2009.0,2011.00,2012.0,2009.0,2011.0,2012.0,2010.0

ADD A DEFAULT KEY -digAnlyst.html.getMeta

**Domains**, *Intent*

*How much* **equipment** is at the **end of its service life**?

*How much* **equipment** do I need to **tow**? (SUM(TAI)  ... WHERE ISENDITEM == FALSE)

* Note. There is an additional component to consider to inventory questions. W/tms.year being the unique identifier there is an implied 'now' aspect to each question unless someone specifically requires a prior time period answer. Which means by default every query needs to include a filter for the most recent timestamp to provide the must up to date information for the query.

*What is* the **scorecard group** for **tms**?

Show **availability %** by **year**.

In [ ]:
def data2CsvString(data):
    
    cols = data.columns
    string=data.set_index(cols[0]).to_csv()
        
    return string

def writeCsv(csvstring, fname):
    
    with open("./data/"+fname+".csv", "w") as f:
        f.write(csvstring)
        f.close()

In [ ]:
av_data_string = data2CsvString(av_data[["AO_AVAILDAYS", "SERVICE"]])
av_data_string

In [ ]:
writeCsv(av_data_string, "av_data_days_service")

Remote team - keeping in touch?

Tech stack? Python, bokeh. Are there other tools? Are these driven by client reqs?

gov clients

specialized analytic needs

support for visualization, cusotmization dashboards, nlp

we have papers, meta info on papers, refs

python

slack, zoom

topic tool lda driven by client

Spec. solution? Problem?

switching to snowflake. aws. 

document clustering, kmeans, look into hierarchical clustering, lsa, truncated sd, topic modeling, word2vec, doc2vec, spacy?????????

```javascript


function readDataFromURL(path, vis_func){
      
      try{
        var hope=[];
        d3.csv(path, function(err, data){
          console.log(data);
          vis_func(data);
        });

        return hope
        
      } catch(e){
        return e
      }
    }



function setTempData(data, key, value){
      data.forEach(function(d){
        // key, value contain the string names of the the cols to be the key and valuue
        // we will fill in a key and value column for each
        d["key"]=[];
        d["value"]=[];
        d["key"].push(d[key]);
        d["value"].push(d[value]);
      })
    }
    

```